.listSection {
  height: calc(100svh - 51.5rem);

  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;

  display: grid;
  grid-template-rows: 5rem calc(100svh - 64rem);
}

@media (max-width: 50em) {
  .listSection {
    padding: 0 5rem;
  }
}

@media (max-width: 38em) {
  .listSection {
    padding: 0 2rem;
  }
}
