.section {
  height: 81.5%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 10rem;
  display: grid;
  grid-template-rows: max-content 1fr;

  /* background-color: red; */
}

.list {
  padding: 0.65rem 0 1rem;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  display: none;
}

.li {
  display: flex;
}

.listItem {
  flex-basis: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--color-grey-light-1);
  padding: 2px;
  padding-right: 6px;
  font-size: 2rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem 10rem;
  grid-template-rows: 4rem;
  align-items: center;
}

.position {
  background-color: var(--color-grey-light-1);
  height: 3.9rem;
  width: 3.9rem;
  border-bottom-right-radius: 30%;

  font-weight: 600;
  color: var(--color-grey-dark-2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  letter-spacing: -0.5px;
}

.time {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.emptyDiv {
  flex-basis: 4.5rem;
  border-bottom-right-radius: 90%;

  background-color: rgba(0, 0, 0, 0.75);
}

.top__1,
.emptyTop__1 {
  background-color: var(--color-gold);
  color: var(--color-grey-dark-0);
  font-weight: 600;

  & .position {
    color: var(--color-gold);
    background-color: var(--color-grey-dark-0);
    text-shadow: 0 0 4px var(--color-gold);
  }
}

.top__2,
.emptyTop__2 {
  background-color: var(--color-silver);
  color: var(--color-grey-dark-0);
  font-weight: 600;

  & .position {
    color: var(--color-silver);
    background-color: var(--color-grey-dark-0);
    text-shadow: 0 0 6px var(--color-silver);
  }
}

.top__3,
.emptyTop__3 {
  background-color: var(--color-bronze);
  color: var(--color-grey-dark-1);
  font-weight: 600;

  & .position {
    color: var(--color-bronze);
    background-color: var(--color-grey-dark-0);
    text-shadow: 0 0 6px var(--color-bronze);
  }
}

.top__1,
.top__2,
.top__3 {
  & .name {
    text-shadow: 0 0 8px var(--color-grey-light-1),
      0 0 12px var(--color-grey-light-0), 0 0 16px var(--color-grey-light-0);
  }

  & .time {
    color: var(--color-grey-light-0);
    font-weight: 600;
    text-shadow: 0 0 4px var(--color-accent-dark), 0 0 12px var(--color-accent),
      0 0 16px var(--color-accent-light);
  }
}

.top__2 {
  & .name {
    text-shadow: 0 0 10px var(--color-golden-brown);
  }
}

.prizeWinner {
  color: var(--color-grey-light-0);
  font-weight: 600;
  text-shadow: 0 0 4px var(--color-accent-dark), 0 0 12px var(--color-accent),
    0 0 16px var(--color-accent-light);
}

.bigScreen {
  display: inline;
}

.smallScreen {
  display: none;
}

@media (max-width: 50em) {
  .section {
    padding: 0 5rem;
  }
}

@media (max-width: 38em) {
  .section {
    padding: 0 2rem;
  }

  .listItem {
    grid-template-columns: 6rem 1fr min-content 10rem;
  }

  .prizeWinner {
    text-align: right;
    margin-right: 0.8rem;
    font-size: 1.6rem;
    text-shadow: none;
  }

  .bigScreen {
    display: none;
  }

  .smallScreen {
    display: inline;
  }
}
