.section {
  display: flex;
  overflow-x: auto;

  z-index: 10;
}

.section::-webkit-scrollbar {
  display: none;
}

.galleryImg {
  padding-top: auto;
  height: 100%;
  width: 100vw;
  object-fit: cover;

  & img {
    height: 100%;
  }
}
